.container {
  max-width: 940px;
  height: 600px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 25px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-align {
  margin-top: 12px;
  margin-right: 13px;
}

.field-align {
  width: 270px;
  margin-right: 10px;
}

.mr-6 {
  margin-right: 6px;
}