<div class="container card">
  <div class="mb-20">
    <h1>Parent Component</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" formControlName="name" />
      <button type="submit">Envia para o filho</button>
    </form>
    <button (click)="clearChildLog()">Limpando o log via ViewChild</button>
  </div>
  <app-first-child [data]="childData" (dataToParent)="getDataFromChild($event)"></app-first-child>
  <app-second-child [data]="secondDataArray"></app-second-child>
</div>